.custom-control-label::before {
  width: 1.3rem;
  height: 1.3rem;
  top: 0.5rem;
}
.custom-control-label::after {
  width: 1.3rem;
  height: 1.3rem;
  top: 0.5rem;
}
span.label-text {
  margin-left: 1rem;
}

label {
  padding-bottom: 0px;
}
hr {
  margin: 0.5rem;
}
.badge {
  margin-top: 0.5rem;
}
button#edit {
  width: 1.7rem;
  height: 1.5rem;
  padding: 0;
  background-color: #63c76a;
  border-color: #63c76a;
}
button#delete {
  width: 1.7rem;
  height: 1.5rem;
  padding: 0;
}
